@model G_D_Residencia_V1.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h6 style="margin-top:2.5em" class="text-uppercase font-weight-bold text-primary">
    Instrucciones de uso
</h6>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
			<ul>
                <li>
                    <p>Recuerde escribir bien sus credenciales para obtener acceso dentro del sistema.</p>
                </li>
                <li>
                    <p>En caso de no tener una cuenta dar clic en el enlace <b>Registrarse como usuario nuevo.</b></p>
                </li>
			</ul>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
