@model G_D_Residencia_V1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó su contraseña?";
}


    <div class="container mt-4">
        <h4 class="text-uppercase font-weight-bold text-primary">@ViewBag.Title</h4>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <small>Especifique su correo electrónico.</small>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mt-4 mb-5">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Vínculo de correo electrónico" />
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>