@model G_D_Residencia_V1.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Crear contraseña";
}

<style>
    .contenido {
        margin: 6.5em;
    }
</style>


<div class="contenido mt-5 mb-5">
    <h3 class="text-uppercase font-weight-bold text-primary">@ViewBag.Title</h3>
    <p class="text-info">
        No dispone de un nombre de usuario o contraseña local para este sitio. <br />
        Agregue una cuenta local para iniciar sesión sin que sea necesario ningún inicio de sesión externo.
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <small>Crear inicio de sesión local</small>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Establecer contraseña" class="btn btn-primary" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>